body{
  background-color:#0f0e17;
}

header .container{display: flex;
    flex-direction: column;
    align-items: center;
}
  
header .container img{
    width: 100px;
}
  
nav{
  flex-direction: row-reverse;
  background-color:rgb(red, green, blue) ;
}
  
nav ul {
    display: flex;
    align-items: center;
  }
  
nav li {
    display: inline;
}
  
nav li a {
    margin-right: 10px;
    text-decoration: none;
    color: #fffffe;
}
  
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 790px;
    border: 1px solid red;
    margin: 15px auto;
    background-color: #fffffe ;
}
h2{
    color:#ff8906;
}

p{
    text-align: center;
}

 
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e53170 ;
    height: 30px;
}